@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased bg-[#050505]; /* Set dark background to prevent white bleed lines */
  }
}

@layer utilities {
  .outline-text {
    color: white; /* Base color for the filter to work with Alpha */
    filter: url(#clean-outline);
    -webkit-font-smoothing: antialiased;
  }
}
